[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.8.1"
requests = ">=2.24.0"
python-slugify = ">=4.0.1"
tox = "*"
sortedcontainers = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
