ruff==0.11.13
black==24.4.2
build==1.2.1
coverage==7.10.3
pytest==8.4.0
pytest-cov==6.1.1
pytest-sugar==1.0.0
pytest-timeout==2.4.0
restructuredtext-lint==1.4.0
pygments==2.18.0
testtools>=2.4.0
sortedcontainers~=2.4.0
pytest-asyncio>=0.21.0
