ruff==0.15.18
black==26.5.1
build==1.5.0
coverage==7.14.3
pytest==9.1.1
pytest-cov==7.1.0
pytest-sugar==1.1.1
pytest-timeout==2.4.0
restructuredtext-lint==2.0.2
pygments==2.20.0
testtools>=2.9.1
sortedcontainers~=2.4.0
pytest-asyncio>=1.4.0
