ruff==0.15.0
black==25.11.0
build==1.4.0
coverage==7.10.7
pytest==8.4.2
pytest-cov==7.0.0
pytest-sugar==1.1.1
pytest-timeout==2.4.0
restructuredtext-lint==2.0.2
pygments==2.18.0
testtools>=2.4.0
sortedcontainers~=2.4.0
pytest-asyncio>=0.21.0
